// Breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1248px;

// Colors
$background: rgb(30, 31, 41);
$icon: rgb(132, 134, 169);
$timer-bottom-background: rgb(52, 54, 80);
$timer-top-background: rgb(44, 44, 68);
$word-color-1: rgb(255, 255, 255);
$word-color-2: rgb(132, 134, 169);
$word-color-3: rgb(251, 96, 135);